body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    
    
}
.nav-list li{
    margin-left: 20px;
}
.header{
    display:flex ;
    justify-content: space-between;
}

.header img{
    width: 55px;
}